@charset "utf-8";
body {
	padding-top: 70px;
	padding-left: 70px;
	padding-bottom: 70px;
	padding-right: 70px;
}
body article p {
}
footer {
	margin-top: 3em;
	margin-right: 0em;
	margin-bottom: 3em;
	margin-left: 0em;
	padding-top: 2em;
	padding-right: 0em;
	padding-bottom: 2em;
	padding-left: 0em;
	border: 1px solid #999999;
	text-align: center;
}
